@import "tailwindcss";

@theme {
  --color-primary: #da241c;
}

.hideScrollBar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox, Safari 18.2+, Chromium 121+ */
}
.hideScrollBar::-webkit-scrollbar {
  display: none; /* Older Safari and Chromium */
}
